PORT_DB=
NODE_ENV=
DB_HOST=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
JWT_EXPIRES_IN=
PORT=
JWT_SECRET_KEY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
EMAIL_USER=
EMAIL_PASS=
OTP_LENGTH=
OTP_EXPIRY=
SMS_API_KEY=
SMS_SECRET_KEY=
SMS_SENDER=
API_KEY_EMAIL=
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=
REFRESH_TOKEN=
SENDER_EMAIL=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
GOOGLE_CLIENT_ID=
STRIPE_SECRET_KEY=
MONGODB_URI=
WEBHOOK_SECRET=
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PINECONE_API_KEY=
HUGGINGFACE_API_KEY=
API_KEY_GEMINI=
PINECONE_INDEX_NAME=
